.spot {
    @media (min-width: $screen-xs-min) {
        background-image: url('../images/DKYAda-header-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 15px;
    }
    @media (min-width:$screen-sm-min) {
        background-position: bottom;
    }
    @media (min-width:$screen-lg-min) {
        min-height: 100vh;
        position: relative;
    }
}