html,
body {
    width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    &.is-loaded {
        font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
    }
}
a,a:hover,a:focus {
    text-decoration: none;
}

.logo {
    text-align: center;
    margin: 60px 15px 15px;
    @media (min-width: $screen-xs-min) {
        margin-bottom: 60px;
    }        
    @media (min-width: $screen-lg-min) {
        margin: 30px 15px 15px;
    }        
}